<div class="jumbotron">
  <h1>Lagdown <small>The Markdown Blogging System</small></h1>
</div>

<div class="row">
  <div class="col-sm-6">
    <div id="editor"></div>
    <pre id="welcome_text" class="hide"><%= render file: 'home/welcome.md' %></pre>
  </div>
  <div class="col-sm-6">
    <%= button_tag t('.preview'), type: :button, id: :preview_btn %>
    <div id="preview_area"></div>
  </div>
</div>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config(
    {
      elements: ['preview_area'],
      tex2jax:{
        inlineMath: [['$','$'], ['\\(','\\)']]
      }
    }
  );
</script>
<%= javascript_include_tag 'mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML' %>