<div class="jumbotron">
  <h1>Lagdown <small>The Markdown Blogging System</small></h1>
</div>

<div class="row">
  <div class="col-sm-6">
    <div id="editor"></div>
    <pre id="welcome_text" class="hide"><%= render file: 'home/welcome.md' %></pre>
  </div>
  <div class="col-sm-6">
    <%= button_tag t('.preview'), type: :button, id: :preview_btn %>
    <div id="preview_area"></div>
  </div>
</div>
<%= mathjax_script_tag 'preview_area' %>
<a href="https://github.com/tonytonyjan/lagdown"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png" alt="Fork me on GitHub"></a>