defaults: &defaults
  flowdock:
    api_token: API_TOKEN

development:
  <<: *defaults
  oauth_providers: [facebook, google, github]
  oauth:
    github:
      - "CLIENT"
      - "SECRET"
    facebook:
      - "CLIENT"
      - "SECRET"
    google_oauth2:
      - "CLIENT"
      - "SECRET"
      -
        :name: google
  recipient: foo@gmail.com
  http_auth_name: admin
  http_auth_password: "12345"
  action_mailer:
    default_url_options:
      :host: lvh.me:3000
    smtp_settings:
      :address: smtp.gmail.com
      :port: 587
      :user_name: foo@gmail.com
      :password: PASSWORD
      :authentication: plain
      :enable_starttls_auto: true

test:
  <<: *defaults

production: &production
  <<: *defaults
  http_auth_name: xxx
  http_auth_password: yyy