<div class="page-header">
  <h1><%%= t('crud.new!', resource: <%= class_name %>.model_name.human).titleize %></h1>
</div>

<%%= render 'form' %>

<%%= link_to t('action.back'), <%= index_helper %>_path %>
