<div class="page-header">
  <h1><%= t('crud.edit!', resource: Admin::Blog.model_name.human).titleize %></h1>
</div>

<%= render 'form' %>

<%= link_to t('crud.show'), @admin_blog %> |
<%= link_to t('action.back'), admin_blogs_path %>
